// 'oc' colors come from https://yeun.github.io/open-color/documents.html
$white: #fff;
$black: #000;

$action-hover-color: $oc-cyan-6;
$body-color: $oc-gray-7;
$heading-color: $oc-gray-8;
$subheading-color: $oc-gray-5;
