$all-caps-letter-spacing: 1.1px;

$type-scale: (
  -2: 0.6rem,
  -1: 0.8rem,
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

// Again, we can make a helper function:
@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}
