.comment-block {
  @include padding-vertical($size-2);
  display: flex;
  flex-direction: column;
  margin-bottom: $size-1;

  &:not(:last-child) {
    border-bottom: 1px solid $oc-gray-3;
  }

  .body {
    strong {
      font-weight: 600;
    }
  }
}
